<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <br>

    <h2>Latest Articles</h2>

    <div class="articles">
      <div class="article">
        <img class="resize">
        <h3><a href="#" class="blog-link"></a></h3>
        <h5 class="author"><i></i></h5>
        <div class="fb-share-button"
             data-href="http://staging.epxlabs.com"
             data-layout="button_count"
             data-size="large">
        </div>
        <a class="twitter-share-button"
           href="https://twitter.com/share"
           data-size="large"
           data-text="Check out this blog from @EPXLabs!"
           data-url="google.com"
           data-hashtags="serverless,nodejs,clojure,devops"
           data-via="epxlabs"
           data-show-count="false">
          Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

  </div>

</div>
