<div class="jumbotron">
  <h1>Careers!</h1>
</div>

<style>
  div.foo > p {
    margin-bottom: 24px;
  }

  div.main-content > p {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.75;
    margin-bottom: 30px;
  }
</style>

<div class="row">
  <div class="main-content  col-md-8 col-md-offset-2">
    <h2>Serverless Implementation Engineer</h2>
    <p>
      We write production ready code.
      <br>
      We are a premier digital consultancy focued on Serverless implementations and migrations.
      <br>
      We enjoy what we do.
      <br>
      We are passionate about our work product and hold eachother to high quality standards.
      <br>
      <br>
      What about you?
      <br>
      <br>
      We are looking for members to join our Remote team of implementation specialists.
      <br>
      If you enjoy or want to enjoy building Serverless Microservices in a fast paced highly visible environment.. you’ve landed on the right careers page :-)
      <br>
      <br>
      Qualifications:
      <br>
      <br>
      Several years of experience building  NodeJS AND/OR Clojure + ClojureScript applications
      <br>
      A noticeable and demonstrable willingness to learn quickly through self-motivation
      <br>
      Knowledge of Functional programming best practices
      <br>
      Willingness to learn new things, everyday
      <br>
      Knowledge of Git / github
      <br>
      Able to estimate tasks
      <br>
      Over-communicator (we are a remote team, many members are traveling, we like to chat)
      <br>
      Team-player
      <br>
      <br>
      Big Plus Qualifications:
      <br>
      Consulting experience
      <br>
      Demonstrable AWS experience (Lambda, EC2, SES, SNS, Kinesis, CloudWatch, etc.)
      <br>
      IBM Bluemix (openwhisk), Azure Cloud Functions, Google Cloud experience
      <br>
      DevOps / Site Reliability Engineering experience
      <br>
      Puppet, Ansible, Chef experience
      <br>
      Blockchain experience
      <br>
      Front end / design experience (UX / UI)
      <br>
      Please send CV’s / Resumes / code samples / portfolios / things you are proud of / presentations to:
      <br>
      <br>
      recruiting (at) epxlabs (dot) com
      <hr>
    </p>

  </div>
</div>
