<div class="jumbotron">
  <h1>Careers!</h1>
</div>

<style>
  div.foo > p {
    margin-bottom: 24px;
  }

  div.main-content > p {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.75;
    margin-bottom: 30px;
  }
</style>

<div class="row">
  <div class="main-content  col-md-8 col-md-offset-2">
    <h2>Serverless Implementation Engineer</h2>
    <p>
      We write production ready code.
      <br>
      We are a premier consultancy.
      <br>
      We have fun and love what we do.
      <br>
      <br>
      What about you?
      <br>
      <br>
      We are looking for members to join our Remote team of implementation specialists.
      <br>
      If you enjoy or want to enjoy building Serverless Microservices in a fast paced highly visible environment.. you’ve landed on the right careers page :-)
      <br>
      <br>
      Qualifications:
      <br>
      Either:
      <br>
      Several years of experience implementing NodeJS AND/OR Clojure + ClojureScript applications       <br>
      OR: a noticeable, perhaps demonstrable willingness to learn quickly through self-motivation
      <br>
      Knowledge of Functional programming best practices
      <br>
      Willingness to learn new things, everyday
      <br>
      Knowledge of Git / github (we won’t have to explain a squash and rebase or why it’s a good idea)
      <br>
      Able to estimate tasks
      <br>
      Over-communicator (we are a remote team, many members are traveling, we like to chat)
      <br>
      Team-player
      <br>
      <br>
      Big Plus Qualifications:
      <br>
      Consulting experience
      <br>
      Demonstrable AWS experience (Lambda, EC2, SES, SNS, Kineses, CloudWatch, etc.)
      <br>
      IBM Bluemix (openwhisk), Azure Cloud Functions, Google Cloud experience
      <br>
      DevOps / Site Reliability experience
      <br>
      Puppet, Ansible, Chef experience
      <br>
      Blockchain experience
      <br>
      Front end / design experience (UX / UI)
      <br>
      Please send CV’s / Resumes / code samples / portfolios / things you are proud of / presentations / jokes to:
      <br>
      <br>
      recruiting (at) epxlabs (dot) com
      <hr>
    </p>

  </div>
</div>
