<div class="jumbotron">
  <h1>Why Clojure and ClojureScript?</h1>
</div>

<style>
  div.main-content > p {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.75;
    margin-bottom: 30px;
  }
</style>

<div class="row">
  <div class="main-content col-md-8 col-md-offset-2">
    <p>
      Clojure is the ideal high-performance functional programming language to solve your technology pains. Paired with Serverless Microservice Architectures, Clojure and ClojureScript eliminate reliability and scalability issues.
    </p>
    <p>
      Functional languages and Clojure in particular allows developers to: <br> be more concise; <br> trivially generate universal abstractions; <br> compose functions repeatedly; <br> reuse code and;<br> realize write-once, run-forever investment. <br> Clojure was built from the ground up with concurrency in mind and thus offers major performance gains. It has seamless interoperability with the expansive Java ecosystem. ClojureScript has the same advantages implementing JavaScript via the Google Closure Library.
    </p>
    <p>
      Clojure macros, transducers, components, concurrency, and composability allow EPX Labs to easily condense thousands of lines of Object Oriented code. The language’s intuitive syntax is based on a core set of primitives that allows developers of all skill levels to make meaningful contributions from day one.
    </p>
    <p>
      We believe Clojure is an ideal technology choice to add to any organizations set of tools. Anti-fragility, code reusability, production reliability, and time-to-project-completion are all hallmarks of a well-groomed, collaborative development team with Clojure in their arsenal.
    </p>
    <p>
      At EPX Labs, we are all in on Clojure as the best language to solve our clients' current problems as well as an ever growing list of problems even more companies are running into, such as microservices at scale, single app instance performance, big data, serverless computing, data visualization, the list continues...
    </p>
    <p>
      Clojure provides our clients with a solid foundation to build on as well as significant cost benefits for total project lifetimes.
    </p>

  </div>
</div>
