<footer id="footer" class="color color-secondary">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-5">
          <a href="index.html" class="logo">
            <img alt="EPX Labs" class="img-responsive">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center col-md-offset-4" id="copyright">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</footer>