/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
env.clj

# Mac local-specific files
.DS_Store

# environment configuration
src/site_generator/active_config.clj

# fully built static site
resources/exported_site
