<div class="jumbotron">
  <h1>About EPX Labs</h1>
</div>

<style>
  div.main-content > p {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.75;
    margin-bottom: 30px;
  }
</style>

<div class="row">
  <div class="main-content col-md-8 col-md-offset-2" >



<p>EPX Labs is a full-service, end-to-end IT Managed Services Partner (MSP).
Our laboratory was founded on the principle of challenging each and every
costly IT assumption of the past. We believe in implementing Faster, Simpler,
Cheaper, and more Reliable IT solutions.</p>

<p>EPX Labs achieves success through:</p>

<h2>Technology Agnosticism</h2>

<p>We choose the best tools to solve each of your specific technology problems.</p>

<h2>Cost-Consciousness</h2>

<p>We build strong, long-term client-partnerships focused on delivering savings and recurring value.</p>

<h2>Embracing DevOps (APIOps, NoOps, etc.) as a Philosophy</h2>

<p>We make the end-users experience more enjoyable and your product development life-cycle faster.</p>

<h2>Leveraging Serverless Micro/Nano-Service Architectures Everywhere</h2>

<p>We architect IT systems which require less hands-on management thanks to automation and risk distribution. Our designs, by default, enable antifragility, high-availability, and scalability.</p>

<h2>Passion</h2>

<p>We are passionate about what we do -- from clean commit histories to elegant abstraction through thoughtful analysis. You found us because you are passionate about what you do. Together we will build great tools.</p>

  </div>
