<!-- CALL TO ACTION -->
<div class="home-intro home-intro-secondary" id="home-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-xs-12 resp-hor-left">
        <p>
          Deliver more <em>value</em> to your customers <em>today.</em>
          <span>Let us lead you into the future.</span>
        </p>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="get-started resp-hor-right">
          <a href="#contact" class="btn btn-lg btn-primary">Get Started Now!</a>
          <div class="learn-more">or <a href="#services">learn more.</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END CALL TO ACTION -->
