<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>This is a title placeholder</title>
    <meta name="keywords" content="" />
    <meta name="description" content="EPX Labs, Inc.">
    <meta name="author" content="EPX Labs, Inc.">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/resources/img/epx-favicon.ico" type="image/x-icon" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <!-- CSS Bundle -->
    <link rel="stylesheet" type="text/css" href="">
    <!-- Head Libs -->
    <script src="vendor/modernizr/modernizr.min.js"></script>
  </head>
  <body class="one-page" data-target="#header" data-spy="scroll" data-offset="100">
    <div class="body">
      <!-- Fill content here -->
      <div role="main" class="main" id="home"></div>
    </div>
    <!-- JS Bundle -->
    <script></script>
    <!-- Google Analytics Script -->
    <script></script>
  </body>
</html>
