/* Add here all your CSS customizations */

/* Lambda icon for Functional in the What We Do section */
.fa-alpha-l:before {
    font-size: 39px;
    content: '\03bb';
    color: #42ade2;
}

p.multi-line {
    color: #e6e6e6;
    margin: 0 0 10px;
}
